.divDeconnexion{
  margin-right:20px;
  margin-top:5px;
}

#cont{
  width:100%;
}
.btn{display:inline-block;margin: 0 10px;vertical-align:top;}

.playlist{display:inline-block;vertical-align:top;width:49%;margin-bottom:20px;}

#playlists{
  margin:30px;
}


#btn-right{
  text-align:right;
  width: 5%;
}
#recherche{
  width: 25%;
}

#btn-left{
  width: 35%;
}

h1{
  color: #2e5e39;
}

.add{
  display:inline-block;
  margin: 0 50px;
  vertical-align:top;
}

img {
  border:5px solid black;
}
