<div class="divDeconnexion" align="right">
  <p>{{entreprise_name}}, <a [routerLink]="['/login_company']" align="right" (click)="deconnection()">Se deconnecter</a></p>
</div>

<h1 align="center">Vos annonces</h1>
<button id="button_new_ad" type="button" (click)="show_creation_page()" class="btn btn-outline-success">Nouveau ciblage</button>
<div style="width:100%;">
  <table class="table table-hover" >
    <thead>
    <tr>
      <th scope="col">Nom de l'annonce</th>
      <th scope="col">Nombre de personnes ciblées</th>
      <th scope="col">Nombre d'apparition de votre annonce</th>
      <th scope="col">Nombre de clic sur votre annonce</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let i of parcours_annonce" style="cursor:pointer;">
      <th (click)="show_detail_page(liste_annonce.data[i].id)" > {{liste_annonce.data[i].nom}}</th>
      <td >{{number_people_targetting[i]}}</td>
      <td>{{liste_annonce.data[i].number_of_appearances}}</td>
      <td>{{liste_annonce.data[i].number_of_clicks}}</td>
    </tr>

    </tbody>
  </table>

</div>


<!-- The Modal -->
<div class="modal" id="popupannonce">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> nom pop up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        hello toi
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


